.input {
    background: #000;
    color: #999;
    border: 0;
    outline: none;
    padding: 5px 7px;
    cursor: pointer;
}

.root {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #444;
    transition: 0.3s;
    position: relative;
}

.focused {
    border-bottom: 1px solid #ccc;
}

.root svg {
    color: #ccc;
}

.shortcut {
    display: block;
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: fit-content;
    outline: 1px solid #555;
    border-radius: 5px;
    padding: 1px 5px;
}

.focused .shortcut {
    display: none;
}

@media (max-width: 970px) {
    .root {
        display: block;
        border-bottom: none;
    }
}
