{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "prefer-const": "warn",
        "@typescript-eslint/no-inferrable-types": "warn",
        "no-useless-escape": "warn",
        "@typescript-eslint/no-empty-function": "warn",
        "@typescript-eslint/no-extra-semi": "warn",
        "no-prototype-builtins": "warn",
        "@typescript-eslint/no-var-requires": "warn",
        "no-empty": "warn",
        "@typescript-eslint/no-non-null-asserted-optional-chain": "warn",
        "use-isnan": "warn",
        "@typescript-eslint/ban-types": "warn"
    }
}