.env
node_modules/
.vscode/
.idea/
*.db
config/*
!config/sample-config.json
test.ts
test.js
src/commands/test/
yarn-error.log
build/
logs/
site/
src/automod/SpamFilter3.ts
src/commands/settings/SpamFilterCommand.ts
src/commands/settings/SpamFilterCommand.ts.bak
package-lock.json
tmp/
fly.toml
fly-2.toml
Dockerfile
setup.sh
.gitpodsetup.sh
.devcontainer/
/backup
/.env.docker
/.idea