# Node modules and lock files
node_modules/
package-lock.json
/bun.lockb

# Error logs
yarn-error.log

# Environment variables
.env
/.env*
/.env.docker

# IDEs and editors
.idea/
/docs/.vscode
/.fleet
/.devcontainer

# Build directory
build/

# Logs and temporary files
logs/
tmp/
/.blaze
*.tsbuildinfo
.extbuild

# Test coverage
/coverage

# Other files
src/commands/test/
fly.toml
/storage

# Backup files
*.bak
/backup

# AI model data
*.traineddata

# Data
/data
/installed_extensions

# API docs
/api_docs