.env
node_modules/
.vscode/
.idea/
src/commands/test/
yarn-error.log
build/
logs/
package-lock.json
tmp/
fly.toml
fly-2.toml
setup.sh
.gitpodsetup.sh
.devcontainer/
/backup
/.env.docker
/.idea
/storage
/extensions
