services:
  postgres:
    image: "postgres:15-alpine"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: sudobot
    volumes:
      - pgdata:/var/lib/postgresql/data

  bot:
    build: .
    ports:
      - 4000:4000
    volumes:
      - ./config:/app/config
      - ./logs:/app/logs
      - ./storage:/app/storage
      - ./tmp:/app/tmp
      - ./.migration_status:/app/.migration_status
      - ./.env.docker:/app/.env
    depends_on:
      - postgres

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  pgdata:
