name: Docker

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Prepare environment
        run: echo "DEBUG=1" > .env.docker

      - name: Set Tag
        run: echo "$(date +%s)" > TAG

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag ghcr.io/onesoft-sudo/sudobot:$(cat TAG) --tag ghcr.io/onesoft-sudo/sudobot:latest

      - name: Login to GitHub Container Registry
        run: echo ${{ secrets.PAT_TOKEN }} | docker login ghcr.io -u virtual-designer --password-stdin
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'

      - name: Push the Docker image
        run: docker push ghcr.io/onesoft-sudo/sudobot:$(cat TAG) && docker push ghcr.io/onesoft-sudo/sudobot:latest
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'