name: Releases

on:
  workflow_run:
    workflows: ["Build"]
    types: [completed]

permissions:
  contents: write
  deployments: write

jobs:
  release:
    if: github.repository_owner == 'onesoft-sudo' && github.ref == 'refs/heads/main' && github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Prepare Git
        run: |
          echo "${{ secrets.COMMIT_GPG_KEY }}" > private.key
          gpg --import private.key
          rm -f private.key
          git config --global user.signingkey 6AE7B08C68169452
          git config --global commit.gpgsign true

      - name: Conventional Release Action
        id: auto_release
        uses: onesoft-sudo/conventional-release-action@main
        with:
          version-json-file: "./package.json,./jsr.json"
          git-user-name: "Conventional Release Action"
          git-user-email: rakinar2@onesoftnet.eu.org
          commit-message-format: "release: v%s [skip ci]"
          git-sign-off: true
          changelog-file: CHANGELOG.md
          changelog-format: markdown
          allowed-commit-types: feat,fix,refactor,perf,ci,build,test,revert,chore,release,deps

      - uses: oven-sh/setup-bun@v2
        if: ${{ steps.auto_release.outputs.tag != '' }}
        with:
          bun-version: latest

      - name: Download build artifact information
        if: ${{ steps.auto_release.outputs.tag != '' }}
        id: artifacts
        shell: sh
        run: |
            curl \
                -L \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                https://api.github.com/repos/${{ github.repository }}/actions/runs/${{ github.event.workflow_run.id }}/artifacts

      - name: Download build artifacts
        if: exists('artifacts.json') && steps.auto_release.outputs.tag != ''
        shell: sh
        run: |
            for platform in ubuntu macos windows; do
                url=`bun -r "process.stdout.write(require('./artifacts.json').artifacts?.find(a => a.name === 'build-${platform}-latest')?.archive_download_url);"`
                test -z "$url" && echo "No artifact found for: $platform" && exit 1
                curl -L \
                    -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                    "$url" \
                    -o artifact.zip
                unzip artifact.zip
                rm -f artifact.zip
            done

            mv build-ubuntu-latest build-linux
            mv build-macos-latest build-darwin
            mv build-windows-latest build-windows

            tar -czvf build-linux.tar.gz build-linux/bin/*linux*
            tar -czvf build-darwin.tar.gz build-darwin/bin/*darwin*
            zip -r build-windows.zip build-windows/bin/*.exe

            for file in build-{linux,darwin}/bin/*; do
                base=`basename "$file"`
                test -f "$file" || continue
                tar -czvf "${base}.tar.gz" "${file}"
            done

            for file in build-windows/bin/*; do
                base=`basename "$file"`
                test -f "$file" || continue
                tar -czvf "${base}.tar.gz" "${file}"
                zip -r "${base}.zip" "${file}"
            done

      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        if: ${{ steps.auto_release.outputs.tag != '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.__TOKEN }}
        with:
          tag: ${{ steps.auto_release.outputs.tag }}
          name: ${{ steps.auto_release.outputs.tag }}
          body: ${{ steps.auto_release.outputs.release_notes }}
          artifactContentType: application/x-gzip
          artifacts: |
            build-linux/packages/*,
            *.tar.gz,
            *.zip,
            ${{ steps.linux_package.outputs.files }}
